@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root{
    --darkBlue:#0A3871;
    --gray:#495057;
    --white:#ffffff;
    --darkGray:#343A40;
    --font:#E5E5E5


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color:  #E5E5E5;
}
