@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root{
    --darkBlue:#0A3871;
    --gray:#495057;
    --white:#ffffff;
    --darkGray:#343A40;
    --font:  #eaf2f8  


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background:var(--font);
    padding: 24px 16px;
    width: 100%;
}
textarea{
    border: none;
    width: 100%;
}


.ingreso{
    background: var(--font);
    font-size: 32px;
    font-weight: 400;
    color: var(--darkBlue);
    text-align: start;
   
}

.ingreso::placeholder{
    color: black;
}
.advertencia{
    display: flex;
    color: var(--darkGray);
    gap: 10px;
}
.advertencia div{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: var(--white);
    background: var(--darkGray);
    display: grid;
    justify-content: center;
    align-items:center;
}
i{
    font-size: 12px;
}
.btn-container{
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 18px;
    

}
.btn-container button{
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
}
.btn-container button:hover{
    cursor: pointer;
}
.encriptar{
    color: var(--white);
    background: var(--darkBlue);
    border: none;

}
.desencriptar{
    color: var(--darkBlue);
    background: none;
    border: 1px solid var(--darkBlue);

}